<div class="container mt-4">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold" style="color: rgb(112, 60, 160);">Contacts</p>
            <p class="fst-italic h5 mt-3">Efficiently manage contacts with our contact management app. Easily add information about companies and contacts with a single click, automatically track business activities, and effortlessly keep data up to date.</p>
            <form>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" placeholder="Search User" type="text">
                            </div>
                            <div class="col">
                                <input class="btn btn-outline-dark" type="submit" value="Search">
                                <span class="ms-2"></span>
                                <a class="btn btn-md" routerLink="/contacts/add" style="background-color:blueviolet; color:white;">New &nbsp;
                                  <i class="fa fa-plus-circle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<!--Cards-->

<div *ngIf="!loading && contacts.length > 0" class="container mt-3">
    <div class="row">
      <div *ngFor="let contact of contacts" class="col-md-6">
        <div class="card list-group-item-primary shadow-lg my-2">
          <div class="card-body d-flex flex-md-row flex-md-column">
            <div class="row align-items-center">
                <div class="col-lg-4 d-flex justify-content-center align-items-center">
                      <img [src]="contact.photo" class="contact-img">
                  </div>
              <div class="col-sm-12 col-md-12 col-lg-8 mt-3">
                <ul class="list-group">
                  <li class="list-group-item">Name: <span class="fw-bold">{{contact.name}}</span></li>
                  <li class="list-group-item">Email: <span class="fw-bold">{{contact.email}}</span></li>
                  <li class="list-group-item">Mobile: <span class="fw-bold">{{contact.mobile}}</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-end">
            <a class="btn btn-warning me-1" routerLink="/contacts/view/{{contact.id}}">
              <i class="fa fa-eye"></i>
            </a>
            <a class="btn btn-primary me-1" routerLink="/contacts/edit/{{contact.id}}">
              <i class="fa fa-pen"></i>
            </a>
            <button class="btn btn-danger" (click)="openConfirmationModal(contact.id)">
              <i class="fa fa-trash-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Loading Spinner-->

<div *ngIf = "loading" style="display: flex; justify-content: center;">
  <app-spinner></app-spinner>
</div>

<!-- Error Message -->

<div *ngIf="!loading && errorMessage">
  <div class="container">
      <div class="row">
          <div class="col">
              <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
          </div>
      </div>
  </div>
</div>