<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold" style="color: rgb(112, 60, 160)">Add Contact</p>
      <p class="fst-italic mt-3">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint at
        necessitatibus doloribus dolorem est quidem aliquid minima, temporibus
        sunt quod dolorum repellendus omnis deserunt! Labore quis soluta laborum
        ex illo?
      </p>
    </div>
  </div>
</div>

<!--Contact Form-->

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form>
        <div class="mb-2">
          <input class="form-control" placeholder="Name" type="text" />
        </div>
        <div class="mb-2">
          <input class="form-control" placeholder="Photo Url" type="text" />
        </div>
        <div class="mb-2">
          <input class="form-control" placeholder="Email" type="email" />
        </div>
        <div class="mb-2">
          <input class="form-control" placeholder="Mobile" type="number" />
        </div>
        <div class="mb-2">
          <input class="form-control" placeholder="Company" type="text" />
        </div>
        <div class="mb-2">
          <input class="form-control" placeholder="Title" type="text" />
        </div>
        <div class="mb-2">
          <select class="form-control">
            <option value="">Select a Group</option>
          </select>
        </div>
          <div class="mt-2">
            <input class="btn btn-primary" value="Create" type="submit" />
            <a class="btn btn-dark ms-2" routerLink="/">Close</a>
          </div>
      </form>
    </div>
    <div class="col-sm-4">
        <img src="https://th.bing.com/th/id/R.6b0022312d41080436c52da571d5c697?rik=ejx13G9ZroRrcg&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fuser-png-icon-young-user-icon-2400.png&ehk=NNF6zZUBr0n5i%2fx0Bh3AMRDRDrzslPXB0ANabkkPyv0%3d&risl=&pid=ImgRaw&r=0" class="contact-img">
    </div>
  </div>
</div>
