<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold" style="color: rgb(112, 60, 160)">Add Contact</p>
      <p class="fst-italic h5 mt-3">
        Easily add new contacts with our user-friendly "Add New Contact" feature. Simplify your contact management process and keep essential information at your fingertips.
      </p>
    </div>
  </div>
</div>
<!-- <pre> {{groups | json}} </pre> -->
<!-- <pre>{{contact | json}}</pre> -->

<!--Loading Spinner-->

<div *ngIf = "loading" style="display: flex; justify-content: center;">
  <app-spinner></app-spinner>
</div>

<!-- Error Message -->

<div *ngIf="!loading && errorMessage">
  <div class="container">
      <div class="row">
          <div class="col">
              <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
          </div>
      </div>
  </div>
</div>

<!--Create Contact Form-->

<div class="container mt-3">
  <div class="row">
    <div class="col-sm-4">
      <form (submit)="createSubmit()">
        <div class="mb-2">
          <input [(ngModel)]="contact.name" name="name" class="form-control"  placeholder="Name" type="text" required="true" />
        </div>
        <div class="mb-2">
          <input [(ngModel)]="contact.photo" name="photo" class="form-control" placeholder="Photo Url" type="text" required="true" />
        </div>
        <div class="mb-2">
          <input [(ngModel)]="contact.email" name="email" class="form-control" placeholder="Email" type="email" required="true" />
        </div>
        <div class="mb-2">
          <input [(ngModel)]="contact.mobile" name="mobile" class="form-control" placeholder="Mobile" type="number" required="true" />
        </div>
        <div class="mb-2">
          <input [(ngModel)]="contact.company" name="company" class="form-control" placeholder="Company" type="text" required="true" />
        </div>
        <div class="mb-2">
          <input [(ngModel)]="contact.title" name="title" class="form-control" placeholder="Title" type="text" required="true" />
        </div>
        <div class="mb-2">
          <select [(ngModel)]="contact.groupId" name="groupId"
          *ngIf="groups.length > 0 " class="form-control" required="true">
            <option value="">Select a Group</option>
            <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
          </select>
        </div>
          <div class="mt-2">
            <input class="btn" value="Create" type="submit" style="background-color:blueviolet; color:white;" />
            <a class="btn btn-dark ms-2" routerLink="/">Close</a>
          </div>
      </form>
    </div>
    <div class="col-sm-4">
        <img [src]="contact.photo" class="contact-img">
    </div>
  </div>
</div>
